@font-face {
    font-family: 'recoletamedium';
    src: url('/assets/css/fonts/recoleta-medium-webfont.woff2') format('woff2'),
         url('/assets/css/fonts/recoleta-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: 'Nunito',Helvetica,Arial,Lucida,sans-serif;
}

body, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, .alert, a, .td-name, td, button.close{
	font-family: 'Nunito',Helvetica,Arial,Lucida,sans-serif;
}

h1{

	font-family: 'recoletamedium', Georgia,"Times New Roman",serif !important; 
    font-size: 2.5em;
	
}

.list {
    width: 100%;
    border-spacing: 5px;
    border-collapse: collapse;
    color: #333;
    /* border: 1px solid #ccc; */
    font-size: 14px;
}

.btn-xs{
	margin: 2px 2px 2px 2px;
}

.cssload-loader{
	display: inline;
	position:absolute;
	height:3em;width:3em;
	left:50%;
	margin-top:1.2em;
	margin-left:-1em;
	background-color:rgb(10,36,153);
	border-radius:2.5em 2.5em 2.5em 2.5em;
		-o-border-radius:2.5em 2.5em 2.5em 2.5em;
		-ms-border-radius:2.5em 2.5em 2.5em 2.5em;
		-webkit-border-radius:2.5em 2.5em 2.5em 2.5em;
		-moz-border-radius:2.5em 2.5em 2.5em 2.5em;
	box-shadow:inset 0 0 0 0.5em rgb(154,202,60);
		-o-box-shadow:inset 0 0 0 0.5em rgb(154,202,60);
		-ms-box-shadow:inset 0 0 0 0.5em rgb(154,202,60);
		-webkit-box-shadow:inset 0 0 0 0.5em rgb(154,202,60);
		-moz-box-shadow:inset 0 0 0 0.5em rgb(154,202,60);
	background: linear-gradient(-45deg, rgb(60,188,169), rgb(60,188,169) 50%, rgb(2,172,155) 50%, rgb(2,172,155));
		background: -o-linear-gradient(-45deg, rgb(60,188,169), rgb(60,188,169) 50%, rgb(2,172,155) 50%, rgb(2,172,155));
		background: -ms-linear-gradient(-45deg, rgb(60,188,169), rgb(60,188,169) 50%, rgb(2,172,155) 50%, rgb(2,172,155));
		background: -webkit-linear-gradient(-45deg, rgb(60,188,169), rgb(60,188,169) 50%, rgb(2,172,155) 50%, rgb(2,172,155));
		background: -moz-linear-gradient(-45deg, rgb(60,188,169), rgb(60,188,169) 50%, rgb(2,172,155) 50%, rgb(2,172,155));
	background-blend-mode: multiply;
	border-top:5px solid rgb(145,145,145);
	border-left:5px solid rgb(145,145,145);
	border-bottom:5px solid rgb(145,145,145);
	border-right:5px solid rgb(145,145,145);
	animation:cssload-roto 1.15s infinite linear;
		-o-animation:cssload-roto 1.15s infinite linear;
		-ms-animation:cssload-roto 1.15s infinite linear;
		-webkit-animation:cssload-roto 1.15s infinite linear;
		-moz-animation:cssload-roto 1.15s infinite linear;
}


@keyframes cssload-roto {
	0%{transform:rotateZ(0deg);}
	100%{transform:rotateZ(360deg);}
}

@-o-keyframes cssload-roto {
	0%{-o-transform:rotateZ(0deg);}
	100%{-o-transform:rotateZ(360deg);}
}

@-ms-keyframes cssload-roto {
	0%{-ms-transform:rotateZ(0deg);}
	100%{-ms-transform:rotateZ(360deg);}
}

@-webkit-keyframes cssload-roto {
	0%{-webkit-transform:rotateZ(0deg);}
	100%{-webkit-transform:rotateZ(360deg);}
}

@-moz-keyframes cssload-roto {
	0%{-moz-transform:rotateZ(0deg);}
	100%{-moz-transform:rotateZ(360deg);}
}

.et_manage_submit {
    display: block;
    text-align: center;
    box-shadow: 0px 5px 20px #d6dee4;
    -moz-box-shadow: 0px 5px 20px #d6dee4;
    -webkit-box-shadow: 0px 5px 20px #d6dee4;
    margin-top: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 20px;
    background-color: #43735D;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.content code {
    color: #20292f;
    padding-bottom: 10px;
    display: block;
    font-size: 20px;
	background-color: none;
	
}


label{
	font-size: 16px;
}

h5{
	font-size: 12px;
	margin-top: 1px;

}

.sidebar .nav p{
	letter-spacing: 0.05em;
}

.sidebar:before {
    opacity: 0;
    background: none;
}

.sidebar:after, .sidebar:before, body > .navbar-collapse:after, body > .navbar-collapse:before {display:none;}

.header_logo {
    
    max-width: 77%;
   
}

body {
	background-color: #FCFAF7 !important;
}


.stepy-navigator .button-next, .stepy-navigator .button-back 
    {border-color: #02AC9A;
    color: #fff;
    background-color: #43735D;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
	
	.stepy-navigator .button-next:hover, .stepy-navigator .button-next:focus, .stepy-navigator .button-next:active, .stepy-navigator .button-next.active,
	.stepy-navigator .button-back:hover, .stepy-navigator .button-back:focus, .stepy-navigator .button-back:active, .stepy-navigator .button-back.active
	 {
		background-color:#43735D;
	    color: #fff;
	    border-color: #269abc;
	}
	
	.stepy-navigator input[type="submit"]:hover, .stepy-navigator input[type="submit"]:focus, .stepy-navigator input[type="submit"]:active, .stepy-navigator input[type="submit"].active,
	 {
		background-color:#299A83 !important;
	    color: #fff !important;
	    border-color: #269abc !important;
	}
	
	.stepy-navigator input[type="submit"] {border-color: #02AC9A !important;
	    color: #fff !important;
	    background-color: #02AC9A !important;
	    -webkit-transition: all 300ms linear;
	    -moz-transition: all 300ms linear;
	    -o-transition: all 300ms linear;
	    -ms-transition: all 300ms linear;
	    transition: all 300ms linear;
	}
	
	fieldset {
	    display: block;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    -webkit-padding-before: 0em;
	    -webkit-padding-start: 0em;
	    -webkit-padding-end: 0em;
	    -webkit-padding-after: 0em;}
	
	.stepy-step legend {display:none;}
	.stepy-navigator input[type="submit"] {padding: 7px 15px 8px !important;}
	.stepy-header {width:100% !important;}
	
	.stepy-header li:first-child {border-top-left-radius:7px; }
	.stepy-header li:last-child {border-top-right-radius:7px; }
    .stepy-header li { color: #fff !important;  text-transform:uppercase; background-color: #43735D; cursor:pointer;	  
		-webkit-transition: all 300ms linear;
	    -moz-transition: all 300ms linear;
	    -o-transition: all 300ms linear;
	    -ms-transition: all 300ms linear;
	    transition: all 300ms linear; padding-left:10px !important; padding-right:10px !important;}
    .stepy-header li div { color: #fff !important; font-size:1em ;   font-weight: bold;}
    .stepy-header li.stepy-active { background-color:#335344; color:#fff !important; cursor:pointer;}
	.stepy-header li:hover { background-color:#335344; color:#fff !important; cursor:pointer;}
	.stepy-header li.stepy-active div, .stepy-header li div { color: #fff !important; text-shadow:none !important; cursor:pointer;}

.socialscheduling td {vertical-align:top !important;}

.stepy-step .datetimepicker {width:100%; }


 #titleClick-demo .stepy-step label {margin-bottom:5px !important;}

 .steps {
  
   padding: 0;
   overflow: hidden;
 }
 .steps a {
   color: white;
   text-decoration: none;
 }
 .steps em {
   display: block;
   font-size: 1.1em;
   font-weight: bold;
 }
 .steps li {
   float: left;
   margin-left: 0;
   width: 150px; /* 100 / number of steps */
   height: 70px; /* total height */
   list-style-type: none;
   padding: 5px 5px 5px 30px; /* padding around text, last should include arrow width */
   border-right: 3px solid white; /* width: gap between arrows, color: background of document */
   position: relative;
 }
 /* remove extra padding on the first object since it doesn't have an arrow to the left */
 .steps li:first-child {
   padding-left: 5px;
 }
 /* white arrow to the left to "erase" background (starting from the 2nd object) */
 .steps li:nth-child(n+2)::before {
   position: absolute;
   top:0;
   left:0;
   display: block;
   border-left: 25px solid white; /* width: arrow width, color: background of document */
   border-top: 40px solid transparent; /* width: half height */
   border-bottom: 40px solid transparent; /* width: half height */
   width: 0;
   height: 0;
   content: " ";
 }
 /* colored arrow to the right */
 .steps li::after {
   z-index: 1; /* need to bring this above the next item */
   position: absolute;
   top: 0;
   right: -25px; /* arrow width (negated) */
   display: block;
   border-left: 25px solid #7c8437; /* width: arrow width */
   border-top: 40px solid transparent; /* width: half height */
   border-bottom: 40px solid transparent; /* width: half height */
   width:0;
   height:0;
   content: " ";
 }

 /* Setup colors (both the background and the arrow) */

 /* Completed */
 .steps li { background-color: #43735D; }
 .steps li::after { border-left-color: #43735D; }

 /* Current */
 .steps li.current { background-color: #192b23; }
 .steps li.current::after { border-left-color: #192b23; }

 /* Following */
 .steps li.current ~ li { background-color: #43735D; }
 .steps li.current ~ li::after {	border-left-color: #43735D; }

 /* Hover for completed and current */
 .steps li:hover {background-color: #696}
 .steps li:hover::after {border-left-color: #696}
 
 .stamp {
	 margin: 5px 5px 5px 5px;
   transform: rotate(12deg);
 	color: #555;
 	font-size: 3rem;
 	font-weight: 700;
 	border: 0.25rem solid #555;
 	display: inline-block;
 	padding: 0.25rem 1rem;
 	text-transform: uppercase;
 	border-radius: 1rem;
 	font-family: 'Courier';
 	-webkit-mask-image: url('/rubber.png');
   -webkit-mask-size: 944px 604px;
   mix-blend-mode: multiply;
 }
 
 .is-draft {
 	color: #C4C4C4;
 	border: 1rem double #C4C4C4;
 	transform: rotate(-5deg);
   font-size: 2em;
   font-family: 'Nunito',Helvetica,Arial,Lucida,sans-serif;
   border-radius: 0;
   padding: 0.5rem;
 } 

 .is-draft label{
   font-size: 10px;
    display: block;
 }
 
 



