.text_area_fancy input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out !important;
  -moz-transition: all 0.30s ease-in-out !important;
  -ms-transition: all 0.30s ease-in-out !important;
  -o-transition: all 0.30s ease-in-out !important;
  outline: none !important;
  padding: 3px 0px 3px 3px !important;
  margin: 5px 1px 3px 0px !important;
  border: 1px solid #DDDDDD !important;
}

.text_area_fancy:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1) !important;
  padding: 3px 0px 3px 3px !important;
  margin: 5px 1px 3px 0px !important;
  border: 2px solid rgba(81, 203, 238, 1) !important;
}

.text_area_fancy{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1) !important;
  padding: 3px 0px 3px 3px !important;
  margin: 5px 1px 3px 0px !important;
  border: 2px solid rgba(81, 203, 238, 1) !important;
}

.text_area_fancy_done:focus{
  box-shadow: 0 0 5px rgb(116, 172, 152) !important;
  padding: 3px 0px 3px 3px !important;
  margin: 5px 1px 3px 0px !important;
  border: 2px solid rgb(106, 202, 37) !important;
  
}

.text_area_fancy_done{
  box-shadow: 0 0 5px rgb(116, 172, 152) !important;
  padding: 3px 0px 3px 3px !important;
  margin: 5px 1px 3px 0px !important;
  border: 2px solid rgb(106, 202, 37) !important;
}



.img-wrap {
    position: relative !important;
    display: inline-block !important;
    font-size: 0;
	padding-left: 5px;
	padding-top: 5px;
}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}
.img-wrap:hover .close {
    opacity: 1; 0px
}
